@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgb(0, 0, 0);
    }

    20% {
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }

    40% {
        box-shadow: 0 0 15px rgb(0, 0, 0);
    }

    60% {
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }

    80% {
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px rgb(0, 0, 0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes revealText {
    0% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(190, 33%, 32%);
}

.horizontal_navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 999;
    align-self: flex-start;
    background-color: hsla(185, 16%, 39%, 0.784);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.4s ease-in;
}

.navbar_logo {
    display: flex;
    height: 60px;
    width: 120px;
    justify-content: right;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
}

.navbar_logo img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.navbar_logo_text {
    display: flex;
    height: 60px;
    width: 130px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Pacifico';
    font-weight: normal;
    color: rgb(246, 175, 133);
    animation: fadeIn 0.4s ease-in;
}

.navlist {
    display: flex;
    height: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    animation: fadeIn 0.4s ease-in;
}

.navlist ul {
    display: flex;
}

.navlist li {
    list-style-type: none;
    border-radius: 25px;
    padding: 10px 25px;
    margin: 8px;
    animation: fadeIn 0.4s ease-in;
}

.navlist li a {
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
}

.navlist li:hover {
    box-shadow: 0px 0px 15px rgb(118, 137, 222);
}

.menu-btn {
    display: none;
}

.sidebar {
    position: fixed;
    margin-top: 0px;
    top: 0;
    right: -200px;
    height: 100%;
    width: 200px;
    z-index: 997;
    background: hsla(0, 0%, 100%, 0.39);
    backdrop-filter: blur(10px);
    transition: right 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 10px 25px;
}

.sidebar li {
    background-image: url(navabar_button_bg_texture.jpg);
    border-radius: 25px;
    padding: 10px 25px;
    margin: 10px;
    list-style-type: none;
    text-align: center;
}

.sidebar a {
    color: rgb(246, 175, 133);
    text-decoration: none;
    font-size: 18px;
}

.filler {
    height: 70px;
    width: 200px;
    background: transparent;
}

.content-wrapper {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(140, 147, 148, 0);
    justify-content: center;
}

.main-section-left {
    margin-top: 0px;
    display: flex;
    position: static;
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.main-section-right {
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 255, 31, 0);
    width: 70vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
}

.player_container {
    margin-top: 25px;
    display: flex;
    min-width: 25vw;
    min-height: 75vh;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    backdrop-filter: blur(50px);
    background-color: #0000006b;
    backdrop-filter: blur(5px);
    padding: 0px;
    animation: fadeIn 0.4s ease-in;
}

.albumart_container {
    display: flex;
    margin-top: 160px;
    min-width: 30vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(18, 1, 255, 0);
}

.albumart {
    display: flex;
    position: absolute;
    width: 40%;
    border-radius: 25px;
    animation: fadeIn 0.4s ease-in;
}

.details_text {
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    display: flex;
    position: relative;
    margin-top: 300px;
    min-width: 20vw;
    min-height: 30vh;
    background-color: #00000022;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    animation: fadeIn 0.4s ease-in;
    justify-content: center;
    align-items: center;
}

.table td {
    padding: 4px;
    border: 2px solid #cccccc33;
    border-radius: 5px;
    font-weight: normal;
}

.song-container {
    display: flex;
    position: relative;
    margin-top: 25px;
    max-width: 65vw;
    max-height: 75vh;
    background-color: #00000026;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    flex-shrink: initial;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    animation: fadeIn 0.4s ease-in;
}

.song-container::-webkit-scrollbar {
    display: none;
}

.top_right_header {
    display: flex;
    margin-top: 20px;
    width: 55vw;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.song {
    background-color: #ff00d000;
    transition: filter 0.3s ease-in-out;
    transition: transform 0.4s ease;
}

.song:hover {
    transform: scale(0.8);
}

.song img {
    width: 125px;
    box-shadow: 0 0 60px rgba(6, 6, 6, 0.107);
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in;
}

.text {
    font-size: 12px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.195);
    text-align: center;
}

.media-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(140, 147, 148);
    animation: fadeIn 0.4s ease-in;
}

#audio-player {
    width: 100%;
    margin-top: 0px;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0;
}

audio::-webkit-media-controls-play-button {
    background-color: rgb(119, 137, 223);
    border-radius: 50px;
}

audio::-webkit-media-controls-current-time-display {
    color: #000000;
    text-shadow: none;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #000000;
    text-shadow: none;
}

#audio-player::-webkit-media-controls-panel {
    background-color: rgb(54, 98, 107);
}


@media (max-width: 859px) {
    .horizontal_navbar {
        height: 60px;
        width: 100%;
    }

    .navbar_logo {
        width: 100px;
        height: 75px;
    }

    .navbar_logo img {
        height: 50px;
        width: 50px;
    }

    .navbar_logo_text {
        width: 130px;
        height: 75px;
        font-size: 26px;
    }

    .navlist {
        height: 75px;
        font-size: 12px;
    }

    .navlist li {
        padding: 8px 22px;
        margin: 8px;
    }

    .main-section-left {
        margin-top: 0px;
        display: flex;
        background-color: rgb(0, 255, 247);
        width: 100%;
        height: 300px;
    }

    .turntable_container {
        margin-top: 75px;
        display: flex;
        min-width: 100%;
        min-height: 225px;
        justify-content: left;
        align-items: center;
    }

    .turntable_img_container {
        display: flex;
        margin-left: 0px;
        margin-top: 0px;
        min-width: 30vw;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(18, 1, 255, 0);
    }

    .turntable_img {
        width: 50%;
    }

    .vinyl_cutout {
        width: 50%;
    }

    .main-section-right {
        display: flex;
        margin-top: 300px;
        position: absolute;
        background-color: rgb(1, 255, 230);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .song-container {
        display: flex;
        position: relative;
        margin-top: 0px;
        max-width: 100%;
        max-height: 80vh;
        background-color: #ffdd00;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
        flex-shrink: initial;
        overflow-y: scroll;
    }

    .song-container::-webkit-scrollbar {
        display: none;
    }

    .song {
        background-color: #ff00d000;
        transition: filter 0.3s ease-in-out;
        transition: transform 0.5s ease;
    }

    .song img {
        width: 125px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.425);
        border-radius: 25px;
    }

    .song:hover {
        transform: scale(0.9);
    }

    .text {
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        text-align: center;
    }

}

@media (min-width: 686px) and (max-width: 747px) {
    .horizontal_navbar {
        max-width: 100%;
        max-height: 70px;
    }

    .navbar_logo {
        width: 80px;
        height: 70px;
    }

    .navbar_logo img {
        height: 50px;
        width: 50px;
    }

    .navbar_logo_text {
        width: 120px;
        height: 70px;
        font-size: 22px;
    }

    .navlist {
        height: 70px;
        font-size: 10px;
    }

    .navlist li {
        padding: 8px 22px;
        margin: 8px;
    }

    .main-section-left {
        margin-top: 0px;
        display: flex;
        background-color: rgb(65, 135, 43);
        width: 100%;
        height: 300px;
    }

    .turntable_container {
        margin-top: 75px;
        display: flex;
        min-width: 100%;
        min-height: 225px;
        justify-content: left;
    }


    .main-section-right {
        display: flex;
        margin-top: 300px;
        position: absolute;
        background-color: rgb(255, 1, 141);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .turntable_img_container {
        display: flex;
        margin-left: 0px;
        margin-top: 0px;
        min-width: 30vw;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(18, 1, 255, 0);
    }

    .turntable_img {
        width: 50%;
    }

    .vinyl_cutout {
        width: 50%;
    }

    .song-container {
        display: flex;
        position: relative;
        margin-top: 0px;
        max-width: 100%;
        max-height: 80vh;
        background-color: #ffdd00;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 25px;
        flex-shrink: initial;
        overflow-y: scroll;
    }

    .song-container::-webkit-scrollbar {
        display: none;
    }

    .song {
        background-color: #ff00d000;
        transition: filter 0.3s ease-in-out;
        transition: transform 0.5s ease;
    }

    .song img {
        width: 100px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.425);
        border-radius: 25px;
    }

    .song:hover {
        transform: scale(0.9);
    }

    .text {
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        text-align: center;
    }


}

@media (min-width: 0px) and (max-width: 686px) {

    .navlist li {
        display: none;
    }

    .horizontal_navbar {
        max-width: 100%;
        max-height: 70px;
    }

    .navbar_logo {
        width: 80px;
        height: 70px;
    }

    .navbar_logo img {
        height: 35px;
        width: 35px;
    }

    .navbar_logo_text {
        width: 110px;
        height: 70px;
        font-size: 20px;
    }

    .navlist {
        height: 70px;
        font-size: 10px;
    }

    .navlist li {
        padding: 8px 22px;
        margin: 8px;
    }

    .main-section-left {
        margin-top: 0px;
        display: flex;
        background-color: rgb(255, 162, 0);
        width: 100%;
        height: 300px;
    }

    .turntable_container {
        margin-top: 75px;
        display: flex;
        min-width: 100%;
        min-height: 225px;
        justify-content: left;
    }

    .main-section-right {
        display: flex;
        margin-top: 300px;
        position: absolute;
        background-color: rgb(213, 1, 255);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .song-container {
        display: flex;
        position: relative;
        margin-top: 0px;
        max-width: 100%;
        max-height: 80vh;
        background-color: #ffdd00;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 25px;
        flex-shrink: initial;
        overflow-y: scroll;
    }


    .text {
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        text-align: center;
    }



    .menu-btn {
        display: flex;
        width: 100px;
        height: 70px;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 998;
    }

    .menu-btn-burger {
        width: 30px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        border-radius: 25px;
        transition: all .5s ease-in-out;
    }

    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        border-radius: 25px;
        transition: all .5s ease-in-out;
    }

    .menu-btn-burger::before {
        transform: translateY(-9px);
    }

    .menu-btn-burger::after {
        transform: translateY(9px);
    }

    .menu-btn.open .menu-btn-burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: rgb(246, 175, 133);
    }

    .menu-btn.open .menu-btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: rgb(246, 175, 133);
    }
}