@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(192, 34%, 11%);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.horizontal_navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 999;
    align-self: flex-start;
    background-color: hsla(193, 32%, 28%, 0.234);
    backdrop-filter: blur(10px);
    animation: fadeIn 0.4s ease-in;
}

.navbar_logo {
    display: flex;
    height: 60px;
    width: 120px;
    justify-content: right;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
}

.navbar_logo img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.navlist {
    display: flex;
    height: 60px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    animation: fadeIn 0.4s ease-in;
}

.navlist ul {
    display: flex;
}

.navlist li {
    list-style-type: none;
    border-radius: 25px;
    padding: 10px 25px;
    margin: 8px;
    animation: fadeIn 0.4s ease-in;
}

.navlist li a {
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
}

.navlist li:hover {
    box-shadow: 0px 0px 15px rgb(141,126,87);
}

.menu-btn {
    display: none;
}

.sidebar {
    position: fixed;
    margin-top: 0px;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    z-index: 997;
    transition: right 0.2s ease-in-out;
}

.sidebar ul {
    height: 100vh;
    list-style: none;
    padding: 10px;
    background-color: black;
}

.sidebar li {
    text-align: center;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 12px;
    text-decoration: none;
}

.sidebar li:hover {
    box-shadow: 0px 0px 15px rgb(141,126,87);
}

.sidebar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.filler {
    height: 55px;
    width: 200px;
    background-color: #ff0000;
}

.content-wrapper {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(140, 147, 148, 0);
    justify-content: center;
}

.main-section-left {
    margin-top: 0px;
    display: flex;
    position: static;
    background-color: rgba(255, 140, 0, 0);
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.main-section-right {
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 255, 31, 0);
    width: 70vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
}

.player_container {
    margin-top: 25px;
    display: flex;
    width: 25vw;
    min-height: 75vh;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #0000006b;
    backdrop-filter: blur(5px);
    padding: 0px;
    animation: fadeIn 0.4s ease-in;
}

.albumart_container {
    display: flex;
    margin-top: 160px;
    width: 30vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(18, 1, 255, 0);
    animation: fadeIn 0.4s ease-in;
}

.albumart {
    display: flex;
    position: absolute;
    width: 40%;
    border-radius: 25px;
    animation: fadeIn 0.4s ease-in;
    image-rendering: optimizeSpeed;
    overflow: hidden;
}

.details_text {
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fadeIn 0.4s ease-in;
}

.table {
    display: flex;
    position: relative;
    margin-top: 300px;
    width: 20vw;
    min-height: 25vh;
    background-color: #00000022;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    animation: fadeIn 0.4s ease-in;
    justify-content: center;
    align-items: center;
}

.table td {
    padding: 4px;
    border: 2px solid #cccccc33;
    border-radius: 5px;
    font-weight: normal;
}

.lyrics {
    display: flex;
    position: absolute;
    margin-top: 500px;
    align-self: center;
    justify-self: center;
    border: none;
    margin-bottom: 20px;
}

.lyrics button {
    display: flex;
    position: relative;
    border-radius: 8px;
    width: 65px;
    height: 30px;
    align-self: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: #335cffa4;
    font-size: 10px;
    margin: 3px;
    color:rgb(0, 0, 0);
    font-weight: 600;
}

.lyrics img{
    width:20px;
}

.lyrics-container{
    margin-top: 0px;
    display: none;
    width: 25vw;
    min-height: 68vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    backdrop-filter: blur(50px);
    background-color: #1a1a1aa3;
    backdrop-filter: blur(5px);
    animation: fadeIn 0.4s ease-in;
    text-align: center;
    color:white
}

#song-lyrics {
    white-space: pre-line;
}

.lyrics-container.visible {
    display: flex;
}

.song-container {
    display: flex;
    position: relative;
    margin-top: 25px;
    max-width: 65vw;
    height: 75vh;
    background-color: #00000026;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 26px;
    flex-shrink: initial;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    animation: fadeIn 0.4s ease-in;
}

.song-container::-webkit-scrollbar {
    display: none;
}

.top_right_header {
    display: flex;
    margin-top: 20px;
    width: 55vw;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.song {
    background-color: #ff00d000;
    transition: filter 0.3s ease-in-out;
    transition: transform 0.4s ease;
    animation: fadeIn 0.4s ease-in;
    padding:10px;
}

.song1 {
    background-color: #ff00d000;
    transition: filter 0.3s ease-in-out;
    transition: transform 0.4s ease;
    animation: fadeIn 0.4s ease-in;
    padding:10px;
}

.song:hover {
    transform: scale(0.8);
}

.song1:hover {
    transform: scale(0.8);
}

.song img {
    width: 125px;
    box-shadow: 0 0 60px rgba(6, 6, 6, 0.107);
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in;
    image-rendering: optimizeSpeed;
    overflow: hidden;
}

.song1 img {
    width: 175px;
    box-shadow: 0 0 60px rgba(6, 6, 6, 0.107);
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in;
    image-rendering: optimizeSpeed;
    overflow: hidden;
}

.image-container {
    display: flex;
    position: relative;
    animation: fadeIn 0.4s ease-in;
    overflow: hidden;
}

.text {
    max-width: 125px;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.778);
    text-align: center;
    text-size-adjust: auto;
    text-rendering: optimizeSpeed;
    overflow: hidden;
    line-height: 12px;
}

.sub_text {
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
    color: #1c1b1b;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0);
    text-align: center;
}

.media-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(140, 147, 148);
    animation: fadeIn 0.4s ease-in;
}

#audio-player {
    width: 100%;
    margin-top: 0px;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 0;
}

audio::-webkit-media-controls-play-button {
    background-color: rgb(119, 137, 223);
    border-radius: 50px;
}

audio::-webkit-media-controls-current-time-display {
    color: #000000;
    text-shadow: none;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #000000;
    text-shadow: none;
}

#audio-player::-webkit-media-controls-panel {
    background-color: rgb(29, 34, 42);
}

.section_one {
    display: flex;
    position: relative;
    margin-top: 0px;
    max-width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    border-radius: 0px;
    animation: fadeIn 0.4s ease-in;
}

.section_two {
    display: flex;
    position: relative;
    margin-top: 0px;
    max-width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    border-radius: 0px;
    animation: fadeIn 0.4s ease-in;
}

.section_three {
    display: flex;
    position: relative;
    margin-top: 0px;
    max-width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    border-radius: 0px;
    animation: fadeIn 0.4s ease-in;
    margin-bottom:95px;
}

.song-container-S1 {
    display: flex;
    position: relative;
    margin-top: 0px;
    width: 100vw;
    height: 35vh;
    background-color: #00000026;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 0px;
    backdrop-filter: blur(5px);
    border-radius: 0px;
    animation: fadeIn 0.4s ease-in;
}

.song-container-S2 {
    display: flex;
    position: relative;
    margin-top: 0px;
    width: 100vw;
    height: 35vh;
    background-color: #00000026;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 0px;
    backdrop-filter: blur(5px);
    border-radius: 0px;
    animation: fadeIn 0.4s ease-in;
}

.song-container-S3 {
    display: flex;
    position: relative;
    margin-top: 0px;
    width: 100vw;
    height: 35vh;
    background-color: #00000026;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 0px;
    backdrop-filter: blur(5px);
    border-radius: 0px;
    animation: fadeIn 0.4s ease-in;
}

.song-container-S1::-webkit-scrollbar {
    display: none;
}

.song-container-S2::-webkit-scrollbar {
    display: none;
}

.section_one::-webkit-scrollbar {
    display: none;
}

.section_two::-webkit-scrollbar {
    display: none;
}

.heading_section_one {
    display: flex;
    margin-top: 0px;
    width: 100vw;
    height: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #2a292947;
}

.heading_section_two {
    display: flex;
    margin-top: 0px;
    width: 100vw;
    height: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #2a292947;
}

.heading_section_three {
    display: flex;
    margin-top: 0px;
    width: 100vw;
    height: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #2a292947;
}


@media (max-width: 859px) {
    .horizontal_navbar {
        height: 55px;
        width: 100%;
    }

    .navbar_logo {
        height: 55px;
        width: 100px;
    }

    .navbar_logo img {
        height: 40px;
        width: 40px;
    }

    .navbar_logo_text {
        width: 130px;
        height: 55px;
        font-size: 22px;
    }

    .navlist {
        height: 55px;
        font-size: 12px;
    }

    .navlist li {
        padding: 8px 22px;
        margin: 8px;
    }

    .navlist li a {
        font-size: 10px;
    }

    .main-section-left {
        width: 100%;
        height: 300px;
        position: relative;
    }


    .player_container {
        margin-top: 55px;
        min-width: 100%;
        height: 250px;
        justify-content: left;
        align-items: center;
    }

    .albumart_container {
        margin-top: 0px;
        min-width: 400px;
        min-height: 250px;
        position: absolute;
    }

    .albumart {
        width: 45%;
    }

    .table {
        margin-top: 0px;
        min-width: 40vw;
        min-height: 200px;
        margin-left: 400px;
    }

    .main-section-right {
        margin-top: 300px;
        position: absolute;
        width: 100vw;
    }

    .song-container {
        border-radius: 0px;
        margin-top: -65px;
        max-width: 100%;
        height: 90vh;
        row-gap: 28px;
    }

    .top_right_header {
        margin-top: 20px;
        width: 100vw;
    }

    @media (min-width: 686px) and (max-width: 747px) {
        .horizontal_navbar {
            height: 55px;
            width: 100%;
        }

        .navbar_logo {
            height: 55px;
            width: 60px;
        }

        .navbar_logo img {
            height: 30px;
            width: 30px;
        }

        .navbar_logo_text {
            width: 100px;
            height: 55px;
            font-size: 20px;
        }

        .navlist {
            height: 55px;
            font-size: 12px;
        }

        .navlist li {
            padding: 6px 20px;
            margin: 8px;
        }

        .navlist li a {
            font-size: 10px;
        }

        .main-section-left {
            width: 100%;
            height: 300px;
            position: relative;
        }


        .player_container {
            margin-top: 55px;
            min-width: 100%;
            height: 250px;
            justify-content: left;
            align-items: center;
        }

        .albumart_container {
            margin-top: 0px;
            min-width: 400px;
            min-height: 250px;
            position: absolute;
        }

        .albumart {
            width: 40%;
        }

        .table {
            margin-top: 0px;
            min-width: 40vw;
            min-height: 200px;
            margin-left: 400px;
        }

        .main-section-right {
            margin-top: 300px;
            position: absolute;
            width: 100vw;
        }

        .song-container {
            border-radius: 0px;
            margin-top: -65px;
            max-width: 100%;
            height: 90vh;
            row-gap: 30px;
        }

        .song img {
            width: 100px;
        }

        .top_right_header {
            margin-top: 20px;
            width: 100vw;
        }


    }

    @media (min-width: 411px) and (max-width: 686px) {

        .horizontal_navbar {
            display: flex;
            height: 55px;
            width: 100%;
        }

        .navbar_logo {
            height: 55px;
            width: 60px;
            justify-content: center;
        }

        .navbar_logo img {
            height: 30px;
            width: 30px;
        }

        .navbar_logo_text {
            width: 100%;
            height: 55px;
            font-size: 20px;
            justify-content: left;
        }

        .navlist {
            display: none;
        }

        .main-section-left {
            max-width: 100%;
            height: 300px;
            position: absolute;
        }


        .player_container {
            margin-top: 55px;
            width: 100%;
            height: 250px;
            justify-content: left;
            align-items: center;
        }

        .albumart_container {
            margin-top: 0px;
            min-width: 200px;
            height: 250px;
            position: relative;
        }

        .albumart {
            width: 50%;
        }

        .table {
            position: relative;
            margin-top: 0px;
            width: 200px;
            height: 200px;
            margin-left: 0px;
        }

        .details_text {
            display: flex;
            position: relative;
            justify-content: center;
            margin-top: 0px;
            flex-grow: 1;
            height: 200px;
            margin-left: 0px;
        }

        .main-section-right {
            margin-top: 300px;
            position: absolute;
            width: 100vw;
        }

        .song-container {
            border-radius: 0px;
            margin-top: -65px;
            max-width: 100%;
            height: 90vh;
            row-gap: 32px;
        }

        .song img {
            width: 100px;
        }

        .text {
            font-size: 10px;
        }

        .top_right_header {
            margin-top: 20px;
            width: 100vw;
        }

        .menu-btn {
            display: flex;
            width: 100px;
            height: 55px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 998;
        }

        .menu-btn-burger {
            width: 30px;
            height: 3px;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            transition: all .5s ease-in-out;
        }

        .menu-btn-burger::before,
        .menu-btn-burger::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            transition: all .5s ease-in-out;
        }

        .menu-btn-burger::before {
            transform: translateY(-9px);
        }

        .menu-btn-burger::after {
            transform: translateY(9px);
        }

        .menu-btn.open .menu-btn-burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }

        .menu-btn.open .menu-btn-burger::before {
            transform: rotate(45deg) translate(35px, -35px);
            background-color: rgb(246, 175, 133);
        }

        .menu-btn.open .menu-btn-burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
            background-color: rgb(246, 175, 133);
        }
    }

    @media (min-width: 0px) and (max-width: 411px) {

        .horizontal_navbar {
            display: flex;
            height: 55px;
            width: 100%;
        }

        .navbar_logo {
            height: 55px;
            width: 60px;
            justify-content: center;
        }

        .navbar_logo img {
            height: 30px;
            width: 30px;
        }

        .navbar_logo_text {
            width: 100%;
            height: 55px;
            font-size: 20px;
            justify-content: left;
        }

        .navlist {
            display: none;
        }

        .main-section-left {
            max-width: 100%;
            height: 300px;
            position: absolute;
        }


        .player_container {
            margin-top: 55px;
            width: 100%;
            height: 250px;
            justify-content: left;
            align-items: center;
        }

        .albumart_container {
            margin-top: 0px;
            min-width: 120px;
            height: 250px;
            position: relative;
        }

        .albumart {
            width: 90%;
        }

        .table {
            position: relative;
            margin-top: 0px;
            width: 200px;
            height: 200px;
            margin-left: 0px;
        }

        .details_text {
            display: flex;
            position: relative;
            justify-content: center;
            margin-top: 0px;
            flex-grow: 1;
            height: 200px;
            margin-left: 0px;
        }

        .main-section-right {
            margin-top: 300px;
            position: absolute;
            width: 100vw;
        }

        .song-container {
            border-radius: 0px;
            margin-top: -65px;
            max-width: 100%;
            height: 90vh;
            row-gap: 28px;
            column-gap: 16px;
        }

        .song img {
            width: 95px;
        }

        .text {
            font-size: 8px;
        }

        .top_right_header {
            margin-top: 20px;
            width: 100vw;
        }

        .menu-btn {
            display: flex;
            width: 100px;
            height: 55px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 998;
        }

        .menu-btn-burger {
            width: 30px;
            height: 3px;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            transition: all .5s ease-in-out;
        }

        .menu-btn-burger::before,
        .menu-btn-burger::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: rgb(0, 0, 0);
            border-radius: 25px;
            transition: all .5s ease-in-out;
        }

        .menu-btn-burger::before {
            transform: translateY(-9px);
        }

        .menu-btn-burger::after {
            transform: translateY(9px);
        }

        .menu-btn.open .menu-btn-burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }

        .menu-btn.open .menu-btn-burger::before {
            transform: rotate(45deg) translate(35px, -35px);
            background-color: rgb(246, 175, 133);
        }

        .menu-btn.open .menu-btn-burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
            background-color: rgb(246, 175, 133);
        }
    }
}